<script type="text/javascript">
$(document).ready(function(){
  $('.container_item_image').click(function(){
    var v_id = $(this).attr('data-v-id');
    $(this).empty().append("<iframe id='player' type='text/html' width='100%' height='222px;' src='http://www.youtube.com/embed/"+ v_id +"?autoplay=1' frameborder='0'></iframe>");
  });
});
</script>
<% videos.each do |v| %>
  <div class="container_item">
    <div class="container_item_image" data-v-id = "<%= v.video_id %>">
      <img src="<%= v.thumbnail_medium || v.thumbnail_standard %>" width="100%" height="222px;">
    </div>
    <div class="videos_partial_txt">
      <%= link_to video_path(v.video_id) do %>
        <span class="videos_partial_txt_span1"><%= truncate(v.title, length: 40) %></span><br>
      <% end %>
      <span class="videos_partial_txt_span2">
        by <span><%= link_to v.channel.title, v.channel %></span>
        <span class="videos_partial_txt_span2_ago"><%= days_ago(v.published_at) %></span>
      </span>
      <br>
      <span class="videos_partial_txt_span3"><%= "#{number_with_delimiter(v.view_count, :delimiter => ',')} views" %></span>
      <span class="videos_partial_txt_span4">
        <%= "#{number_with_delimiter(v.like_count, :delimiter => ',')} likes" %>&nbsp;&nbsp;&nbsp;
        <%= "#{number_with_delimiter(v.dislike_count, :delimiter => ',')} dislikes" %>
      </span>
      <br>
      <%= link_to "Large View", video_path(v.video_id) , :class => "videos_partial_txt_span5" %>
    </div>
  </div>
<% end %>