<script type="text/javascript">
  $(document).ready(function(){
    $('.video_search').keypress(function(event) {
      if ( event.which == 13 ) {
        $('#filter_form').submit();
      }
    });
  });
</script>
<div class="container">
  <div class="filters_container">
    <table class="page_navigation_table">
      <tr>
          <td width="25%" class="page_navigation_table_td1">
              <%= link_to "New", videos_path(:sort => "new", :page => 1), :remote => true %>  |
              <%= link_to "Popular", videos_path(:sort => "popular", :page => 1), :remote => true %>
          </td>
          <td width="75%" class="page_navigation_table_td1">
              <%= form_tag( videos_path, remote: true, :method => 'get', :id => 'filter_form') do %>
                <input type="text" name = "video_search" class="video_search">
                <%= submit_tag "sgsg", :class => "video_search_submit" %>
              <% end %>
          </td>
      </tr>
    </table>
  </div>
  <div class="item_container">
	 <%= render 'video_item', :videos => @videos %>
  </div>
</div>
<div class="container_pagination_button"><%= link_to "View More...",videos_path( :sort => "new", :page => @page +1 ), :remote => true  %></div>