<div class="container">
  <iframe class ="video_player" id="player" type="text/html" src="http://www.youtube.com/embed/<%= @video.video_id %>" frameborder="0"></iframe>
  <div class="video_show_txt">
    <%= link_to @video.video_id do %>
      <span class="video_show_txt_span1"><%= @video.title %></span><br>
    <% end %>
    <%= link_to @video.channel do %>
      <span class="video_show_txt_span2">by <span><%= "#{@video.channel.title}" %> <span><span><%= "#{number_with_delimiter(@video.channel.subscriptions, :delimiter => ',')} subscribers " %></span></span><br>
    <% end %>
    <span class="video_show_txt_span3"><%= "#{number_with_delimiter(@video.view_count, :delimiter => ',')} views" %></span>
    <span class="video_show_txt_span4"><%= "#{number_with_delimiter(@video.like_count, :delimiter => ',')} likes" %></span>
</div>

</div>