<script type="text/javascript">
  $(document).ready(function(){
  $(window).scroll(function(){
    var top = $(this).scrollTop();
    if(top > 50)
      $('.navigation_float_link').empty().append('<%= link_to "New", category_path(@category, :sort => "new"), :remote => true %> | <%= link_to "Popular", category_path(@category, :sort => "popular"), :remote => true %>').fadeIn();
    else
      $('.navigation_float_link').fadeOut();
    });
  });	
</script>
<div class="container">
  <table class="page_navigation_table">
    <tr><td><%= link_to "New", category_path(@category, :sort => "new"), :remote => true %>  |
            <%= link_to "Popular", category_path(@category, :sort => "popular"), :remote => true %></td></tr>
  </table>
  <div class="item_container">
    <%= render 'videos/video_item', :videos => @videos %>
  </div>
</div>