<div class="container">
  <table class="page_navigation_table">
      <tr>
          <td width="25%" class="page_navigation_table_td1">
              <%= link_to "New", videos_path(:sort => "new", :page => 1), :remote => true %>  |
              <%= link_to "Popular", videos_path(:sort => "popular", :page => 1), :remote => true %>
          </td>
          <td width="75%" class="page_navigation_table_td1">
              <%= form_tag( videos_path, remote: true, :method => 'get', :id => 'filter_form') do %>
                <input type="text" name = "video_search" class="video_search">
                <%= submit_tag "Search", :class => "video_search_submit" %>
              <% end %>
          </td>
      </tr>
    </table>
  <div class="item_container">
    <%= render 'videos/video_item', :videos => @videos %>
  </div>
</div>
<div class="container_pagination_button"><%= link_to "View More...",category_path(@category, :sort => "new", :page => @page +1 ), :remote => true  %></div>

<% if !@sub_category.blank?  %>
  <div class="container">
    <div class="div_h3">Sub categories for <%= @category.category_name   %></div>
    <% @sub_category.each do |category| %>
      <div class="category_index_item">
        <%= link_to image_tag(category.category_photo_url.to_s, :width => "100%", :height => "125px"), category_path(category) , :class => "category_index_item_image"%>
        <br>
        <%= "#{category.category_name}(#{category.videos.size})" %>
      </div>
      <% end %>
  </div>
<% end %>

<% if !@channels.blank?  %>
  <div class="container">
    <div class="div_h3">Popular Channel for <%= @category.category_name   %></div>
    <%= render 'channels/channel_item', :channels => @channels %>
  </div>
<% end %>