<script type="text/javascript">
  $(document).ready(function(){
    $(window).scroll(function(){
      var top = $(this).scrollTop();
      if(top > 50)
        $('.navigation_float_link').empty().append('<%= link_to "New", category_path(@category, :sort => "new", :page => 1), :remote => true %> | <%= link_to "Popular", category_path(@category, :sort => "popular", :page => 1), :remote => true %>').fadeIn();
      else
        $('.navigation_float_link').fadeOut();
      });
  });	
</script>
<div class="container">
  <table class="page_navigation_table">
    <tr><td><%= link_to "New", category_path(@category, :sort => "new", :page => 1), :remote => true %>  |
            <%= link_to "Popular", category_path(@category, :sort => "popular", :page => 1), :remote => true %></td></tr>
  </table>
  <div class="item_container">
    <%= render 'videos/video_item', :videos => @videos %>
  </div>
</div>
<div class="container_pagination_button"><%= link_to "View More...",category_path(@category, :sort => "new", :page => @page +1 ), :remote => true  %></div>

<% if !@sub_category.blank?  %>
  <div class="container">
    <div class="div_h3">Sub categories for <%= @category.category_name   %></div>
    <% @sub_category.each do |category| %>
      <div class="category_index_item">
        <%= link_to image_tag(category.category_photo_url.to_s, :width => "100%", :height => "125px"), category_path(category) , :class => "category_index_item_image"%>
        <br>
        <%= "#{category.category_name}(#{category.videos.size})" %>
      </div>
      <% end %>
  </div>
<% end %>

<% if !@channels.blank?  %>
  <div class="container">
    <div class="div_h3">Popular Channel for <%= @category.category_name   %></div>
    <%= render 'channels/channel_item', :channels => @channels %>
  </div>
<% end %>